.article-card {
    border: 1px solid white;
    border-radius: 10px;
    width: 20%;
}
.article-image {
    width: 100%;
}

.article-card h3 {
    color: hsl(233, 26%, 24%);
}

.article-card p {
    color: hsl(233, 8%, 62%);
}