header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.header-ul {
    display: flex;
    list-style-type: none;
}

.header-ul li {
    margin-right: 20px;
}

.header-ul a {
    color: hsl(233, 8%, 62%);
    text-decoration: none;
}

